/*
body {
    background: black;
}
*/

#intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    background: darkgreen;
    width: 700px;
}

#intro-text p {
    width: 450px;
}

#logo img {
    width: 200px;
    margin-left: 25px;
}

#board {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    visibility: hidden;
}

#board img {
    width: 75px;
    margin: 5px;
    /*display: none;*/
}

#lose-banner {
    display: none;
}

#win-banner {
    display: none;
}

#btn-try-again {
    display: none;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

  .effect { /*purple - #640064, light purple - #A45B90, blue - #3498db */
    border-color: #640064;
    color: #fff;
    box-shadow: 0 0 40px 40px #640064 inset, 0 0 0 0 #640064;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .effect:hover {
    box-shadow: 0 0 10px 0 #640064 inset, 0 0 10px 4px #640064;
    color: #640064;
  }