
body {
    background-image: url("../Assets/Images/Others/casino_background.jpg"); /*needs double dots in css for background image*/
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

h1,
h2,
h3,
h4,
h5 {
    color: #FFF;
    font-family: Tahoma;
}

.dialogue-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    background: rgba(0,109,115,0.5);     /*rgba(158,158,158,0.5);*/
    width: 700px;
    color: lightgrey;
}

.dialogue-box p {
    width: 450px;
    font-family: Helvetica;
}

.logo img {
    width: 200px;
    margin-left: 25px;
    padding-top: 20px;
}

#game-area {
    display: none;
    align-items: flex-start;
    height: 550px;
}

#board {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    visibility: hidden;
    margin-left: 25px;
    margin-right: 10px;
}

#board img {
    width: 75px;
    margin: 5px;
}

#side-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 24pt;
    color: #FFF;
    font-family: Tahoma;
}

#countdown {
    color: #ffffff;
    background-color: #640064;
    font-family: 'Courier New';
    font-weight: Bold;
    font-size: 32pt;
    width: fit-content;
    border:3px solid black;
    border-radius: 15%;
    margin-top: 5px;
    /*display: inline-block;*/
}

#tick {
    height: 200px;
    width: 70px;
    opacity: 0;
    margin-top: 20px;
}

#pairs-found {
    width: 60px;
    height: 60px;
    background: #640064;
    border: 5px solid #006400;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tahoma';
    font-size: 22pt;
    font-weight: 700;
    margin-top: 5px;
}

#lose-banner {
    display: none;
}

#lose-text {
    width: 450px;
}

.result-dialogue {
    font-size: 16pt;
}

#win-banner {
    display: none;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

  .effect { /*purple - #640064, light purple - #A45B90, blue - #3498db */
    border-color: #640064;
    color: #fff;
    box-shadow: 0 0 40px 40px #640064 inset, 0 0 0 0 #640064;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .effect:hover {
    box-shadow: 0 0 10px 0 #640064 inset, 0 0 10px 4px #640064;
    color: #640064;
  }