/*
body {
    background: black;
}
*/


#board {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}


#board img {
    width: 75px;
    margin: 5px;
}

#lose-banner {
    display: none;
}

#win-banner {
    display: none;
}